In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DataScienceDf.csv')

In [3]:
df.head(5)

,Unnamed: 0,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [4]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [5]:
df.head()

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,SalaryExtract,SalaryExtractHourly
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,US$74K - US$125K,NaN
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,NaN,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,US$90K - US$120K,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,US$105K - US$146K,NaN
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,NaN,NaN

In [6]:
df.SalaryExtract=df.SalaryExtract.str.replace('K','',regex=True)

In [7]:


df.SalaryExtract=df.SalaryExtract.str.replace('US','',regex=True)

In [8]:
df.SalaryExtract=df.SalaryExtract.str.replace('$','',regex=True)

In [9]:
df.SalaryExtract

0           $74 - $125
1                  NaN
2           $90 - $120
3          $105 - $146
4                  NaN
            ...
894        $112 - $225
895         $80 - $120
896         $90 - $140
897    $53.62 - $64.58
898                NaN
Name: SalaryExtract, Length: 899, dtype: object

In [10]:
 df['SalaryExtract'].str.contains('$').any()

True

In [11]:
df['SalaryExtract'] = df['SalaryExtract'].str.replace('$', '')

In [12]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [13]:
df['SalaryExtract'].dropna(inplace=True)

In [14]:
df['SalaryExtract'].value_counts().sum()

659

In [15]:
df['SalaryExtract'].value_counts()

SalaryExtract
74 - 125         30
90 - 120         30
53.62 - 64.58    30
90 - 140         30
80 - 120         30
112 - 225        30
70 - 105         30
100 - 120        30
71 - 133         30
50.00 - 55.00    30
132              30
93 - 132         30
48 - 78          30
80 - 110         30
92 - 143         30
112 - 135        30
102 - 144        30
60 - 140         30
83 - 114         30
60.00 - 70.00    30
105 - 146        30
90 - 133         29
Name: count, dtype: int64

In [16]:
def undersplit(x):
    x = str(x)
    if "-" in x:
        return x.split("-", 1)
    else:
        return [x, 0]

In [17]:
df[["minSalary","maxSalary"]] = [ undersplit(i) for i in df['SalaryExtract']]

In [18]:
df['SalaryExtract']

0           74 - 125
1                NaN
2           90 - 120
3          105 - 146
4                NaN
           ...
894        112 - 225
895         80 - 120
896         90 - 140
897    53.62 - 64.58
898              NaN
Name: SalaryExtract, Length: 899, dtype: object

In [19]:
df[["minSalary","maxSalary"]].head(10)
#.str.split(r'\.', 1, expand=True

  minSalary maxSalary
0       74        125
1       nan         0
2       90        120
3      105        146
4       nan         0
5    60.00      70.00
6       nan         0
7       nan         0
8       83        114
9       60        140

In [20]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'SalaryExtract',
       'SalaryExtractHourly', 'minSalary', 'maxSalary'],
      dtype='object')

In [21]:
df.drop(["SalaryExtract"],inplace=True, axis=1)

In [22]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'SalaryExtractHourly',
       'minSalary', 'maxSalary'],
      dtype='object')

In [23]:
df.drop(['SalaryExtractHourly'], axis=1,inplace = True)

In [24]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [25]:
df.columns

Index(['CompanyName', 'Location', 'Job_Title', 'SalaryEstimate', 'Job_Desc',
       'NumberOfEmployees', 'FoundingYear', 'CompanyType', 'IndustryType',
       'SectorType', 'RevenueType', 'Rating', 'minSalary', 'maxSalary'],
      dtype='object')

In [26]:
#df.dropna(subset=['minSalary'], inplace=True)

In [27]:
df.shape

(899, 14)

In [28]:
dfresult = df.dropna()

In [29]:
df.dropna(inplace= True)

In [30]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125
1,State of Virginia\n3.6,Remote,Data Scientist,State of Virginia3.6 ★\nData Scientist\nRemote...,"Job Duties/Responsibilities may include, but a...",10000+ Employees,1788,Government,Regional Agencies,Government & Public Administration,$25 to $50 million (USD),3.6,nan,0
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146
4,Unknown,"Cambridge, MA",Data Scientist,CORMAC3.8 ★\nJr. Data Scientist\nRemote\nEasy ...,Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,nan,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58
898,Unknown,Remote,Data Scientist,"Buyers Edge Platform, LLC4.3 ★\nData Scientist...",Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,nan,0

In [31]:
df.isna().sum()

CompanyName          0
Location             0
Job_Title            0
SalaryEstimate       0
Job_Desc             0
NumberOfEmployees    0
FoundingYear         0
CompanyType          0
IndustryType         0
SectorType           0
RevenueType          0
Rating               0
minSalary            0
maxSalary            0
dtype: int64

In [32]:
df = df.drop(df[df['minSalary'] == 'nan'].index)

In [33]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70,105
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58

In [34]:
df.Job_Title.value_counts()

Job_Title
Data Scientist                                                 508
Sr. Data Analyst                                                60
Data Scientist 4676                                             30
Junior Data Scientist                                           30
Data Scientist (Remote - US based)                              30
Entry Level Data Science - December 2023 and May 2024 Grads      1
Name: count, dtype: int64

In [35]:
df.CompanyName.value_counts()

CompanyName
Unknown                              209
Nexlogica                             30
Context Labs                          30
Ryden Global LLC                      30
Buchanan And Edwards Group\n4.0       30
Tech brothers infoservices            30
MetroStar\n3.5                        30
Brainwave360                          30
Matrix New World Engineering\n4.0     30
Lendistry\n3.6                        30
Sunixa Solutions\n4.9                 30
plaxonic\n4.4                         30
Publicis Media\n3.9                   30
Tidepool                              30
FAST GROWING TREES LLC\n4.2           30
SilverEdge                            29
NXP Semiconductors\n4.1                1
Name: count, dtype: int64

In [36]:
df[df.CompanyName=="Matrix New World Engineering\n4.0"]

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
32,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
62,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
92,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
122,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
152,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
182,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
212,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
242,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
272,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
302,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
332,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
362,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
392,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
422,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
452,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
482,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
512,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
542,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
572,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
602,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
632,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
662,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
692,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
722,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
752,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
782,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
812,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
842,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120
872,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120

In [37]:
df["HourlyminSal"] = df.minSalary.str.extract(r'([0-9]+[0-9]\.+[0-9]+[0-9])')

In [38]:
df["HourlyminSal"]

0        NaN
2        NaN
3        NaN
5      60.00
8        NaN
       ...
893      NaN
894      NaN
895      NaN
896      NaN
897    53.62
Name: HourlyminSal, Length: 659, dtype: object

In [39]:
df.HourlyminSal = df.HourlyminSal.astype(float)

In [40]:
df.HourlyminSal.info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlyminSal
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 10.3 KB

In [41]:
#df['Hourly'] = df['Hourly']*10

In [42]:
def mutiply(x):
    if x=="NaN":
        x="NaN"
        return x
    else:
        b = x*8
        x = ((b*22)*12)/1000
        return x

In [43]:
df.HourlyminSal =  [ mutiply(i) for i in df['HourlyminSal']]

In [44]:
df['HourlyminSal'].info()

<class 'pandas.core.series.Series'>
Index: 659 entries, 0 to 897
Series name: HourlyminSal
Non-Null Count  Dtype
--------------  -----
90 non-null     float64
dtypes: float64(1)
memory usage: 10.3 KB

In [45]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary,HourlyminSal
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00,126.72000
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70,105,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225,NaN
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58,113.24544

In [54]:
for i, j in zip(df['minSalary'].head(5),df['HourlyminSal'].head(5)):
    print(j,i)
    if j=="NaN":
        print(j,i)
        #df["minSalary"] = i
        
    #else:
        #df["minSalary"] = j

nan 74
nan 90
nan 105
126.72 60.00
nan 83

In [47]:
df

,CompanyName,Location,Job_Title,SalaryEstimate,Job_Desc,NumberOfEmployees,FoundingYear,CompanyType,IndustryType,SectorType,RevenueType,Rating,minSalary,maxSalary,HourlyminSal
0,NXP Semiconductors\n4.1,"Austin, TX",Entry Level Data Science - December 2023 and M...,NXP Semiconductors4.1 ★\nEntry Level Data Scie...,"Our business runs on Data, and having an accur...",10000+ Employees,2006,Company - Public,Electronics Manufacturing,Manufacturing,$5 to $10 billion (USD),4.1,74,125,NaN
2,Matrix New World Engineering\n4.0,Remote,Data Scientist,Matrix New World Engineering4 ★\nData Scientis...,Are you passionate about finding insights from...,51 to 200 Employees,1990,Company - Private,Architectural & Engineering Services,"Construction, Repair & Maintenance Services",$25 to $50 million (USD),4.0,90,120,NaN
3,Context Labs,"Cambridge, MA",Data Scientist,"Context Labs\nData Scientist\nCambridge, MA\nU...",Context Labs is seeking a Data Scientist to su...,Unknown,Company - Public,Software Development,Information Technology,Unknown / Non-Applicable,-2,-2.0,105,146,NaN
5,Ryden Global LLC,Remote,Data Scientist,Ryden Global LLC\nData Scientist\nRemote\nUS$6...,We are looking for a data scientist that will ...,-2,0,Unknown,Unknown,Unknown,-2,-2.0,60.00,70.00,126.72000
8,Buchanan And Edwards Group\n4.0,"McLean, VA",Data Scientist,Buchanan And Edwards Group4 ★\nData Scientist\...,The Sponsor provides data-driven business anal...,201 to 500 Employees,1998,Company - Private,Information Technology Support Services,Information Technology,$25 to $50 million (USD),4.0,83,114,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,Publicis Media\n3.9,"New York, NY",Junior Data Scientist,Publicis Media3.9 ★\nJunior Data Scientist\nNe...,Company Description\n\nRead this first: If you...,10000+ Employees,1926,Company - Public,Advertising & Public Relations,Media & Communication,$5 to $10 billion (USD),3.9,70,105,NaN
894,Tidepool,"Palo Alto, CA",Data Scientist (Remote - US based),Tidepool\nData Scientist (Remote - US based)\n...,Company Description\n\nDue to the nature of th...,1 to 50 Employees,2013,Non-profit Organisation,Healthcare Services & Hospitals,Healthcare,$5 to $25 million (USD),4.4,112,225,NaN
895,FAST GROWING TREES LLC\n4.2,Remote,Data Scientist,FAST GROWING TREES LLC4.2 ★\nData Scientist\nR...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,80,120,NaN
896,Unknown,Remote,Data Scientist,HawkEye3603.4 ★\nJunior Data Scientist\nHerndo...,Description:\n\nAbout the Company\nFast Growin...,51 to 200 Employees,2005,Company - Private,Home Furniture & Housewares Stores,Retail & Wholesale,Unknown / Non-Applicable,4.2,90,140,NaN
897,Nexlogica,Remote,Data Scientist,Nexlogica\nData Scientist\nRemote\nUS$53.62 - ...,Skills :\nPossess knowledge and technical expe...,51 to 200 Employees,Company - Public,Unknown / Non-Applicable,Unknown,Unknown,-2,-2.0,53.62,64.58,113.24544